.hidden {
    display: none;
} 

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffff ;
}

ol,ul{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

button{
  cursor: pointer;
  font-family: inherit;
}

/* common */

.container{
  padding:0 15px;
  max-width: 320px;
  margin: 0 auto;
}



@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    
}

@media screen and (min-width: 1158px) {
    .container{
        padding:0 15px;
        max-width: 1158px;
    }
}

/* header */

.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
   0 1px 1px 0 rgba(46, 47, 66, 0.16), 
   0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list,
.header-address{
    display: none;
}

.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo{
  padding: 16px 0;
  display:block
}

.logo-part{
  color: #2e2f42;
}

.burger-btn{
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav-list{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-address{
        font-style: normal;
        display: block;
    }

    .header-nav-link{
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link:hover,
    .header-nav-link:focus,
    .header-nav-link.current{
            color: #404bbf;
    }

    .header-nav-link.current {
        position: relative;
    }

    .header-nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
    }

    .header-address-list{
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .header-nav{
        display: flex;
        align-items: center;
    }

    .header-logo{
        margin-right: 120px;
        padding: 24px 0;
    }

    .header-address-link{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-link:hover,
    .header-address-link:focus{
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .header-nav-list{
        gap: 40px;
    }

    .header-address-list{
        gap: 40px;
        flex-direction: row;
        align-items: center;
        
    }

    .header-address-link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    .header-address-link:hover,
    .header-address-link:focus{
        color: #404bbf;
    }

}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: #fff;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}



.mobile-menu-nav-link.current {
    position: relative;
    color: #404BBF;
}

.mobile-address-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-address-link:hover,
.mobile-address-link:active {
    position: relative;
    color: #404BBF;
}

.mobile-address-list,
.mobile-address-link {
  font-style: normal;
}

.mobule-menu-social {
    display: flex;
    gap: 40px;
}

.social-icons {
    width: 20px;
  height: 20px;
  fill: #f4f4fd;
}

.menu-social-icons:hover,
.menu-social-icons:focus {
  background-color: #404bbf;
}

.menu-social-icons {
    width: 40px;
    height: 40px;
    display: flex;                
    align-items: center;          
    justify-content: center;      
    border-radius: 50%;           
    background-color: #4d5ae5;    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
     display: none;
    }
}

/* solutions */

.solution {
    max-width: 320px;
    background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      image-set(
      url(../images/hero-mobile.jpg) 1x,
      url(../images/hero-mobile@2x.jpg) 2x
      );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 72px 0;
}

.solution-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 320px;
    margin: 0 auto;
}

.solution-button {
    background-color: #4d5ae5;
    border: none;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
    .solution {
        max-width: 768px;
        padding: 112px 0;
        background-image:
            linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            image-set(
            url(../images/hero-tab.jpg) 1x,
            url(../images/hero-tab@2x.jpg) 2x
            );
    }    
    

    .solution-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .solution {
        max-width: 1440px;
        height: 600px;
        padding: 188px 0;
        background-image:
            linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            image-set(
            url(../images/desk-hero.jpg) 1x,
            url(../images/desk-hero1@2x.jpg) 2x
            );
    } 
}

.solution-title {
    margin-bottom: 48px;
}

/* about */

.about{
    padding: 96px 0;
}

.div-icon {
    display: none;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.about-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.about-subtitle {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}


.about-text {
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .about-list{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }

    .about-item{
        flex: 0 0 calc((100% - 24px) / 2);
    }
    .about-subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {

    .about {
        padding: 120px 0 ;
    }

    .div-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
     .about-list {
    flex-wrap: nowrap;         
    justify-content: center;   
    gap: 24px;
  }

  .about-item {
    flex: 0 0 264px;           
    height: 224px;
  }

  .about-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .about-text {
    font-weight: 400;
  }


}